@font-face{
    font-family:"Reinata";
    src:url("../fonts/reinata/b1f8b57f764139aca43d58cff1982ec9.eot");
    src:url("../fonts/reinata/b1f8b57f764139aca43d58cff1982ec9.eot?#iefix") format("embedded-opentype"),
        url("../fonts/reinata/b1f8b57f764139aca43d58cff1982ec9.woff2") format("woff2"),
        url("../fonts/reinata/b1f8b57f764139aca43d58cff1982ec9.woff") format("woff"),
        url("../fonts/reinata/b1f8b57f764139aca43d58cff1982ec9.ttf") format("truetype"),
        url("../fonts/reinata/b1f8b57f764139aca43d58cff1982ec9.svg#Reinata") format("svg")
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-XLight.eot");
    src:local("Gotham ExtraLight"),local("Gotham-XLight"),
        url("Gotham-XLight.eot?#iefix") format("embedded-opentype"),
        url("Gotham-XLight.woff2") format("woff2"),url("Gotham-XLight.woff") format("woff"),
        url("Gotham-XLight.ttf") format("truetype");font-weight:200;font-style:normal
}    
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Thin.eot");
    src:local("Gotham Thin"),local("Gotham-Thin"),
        url("../fonts/Gotham-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Thin.woff2") format("woff2"),
        url("../fonts/Gotham-Thin.woff") format("woff"),
        url("../fonts/Gotham-Thin.ttf") format("truetype");
    font-weight:100;
    font-style:normal
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Book.eot");
    src:local("Gotham Book"),
        local("Gotham-Book"),
        url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Book.woff2") format("woff2"),
        url("../fonts/Gotham-Book.woff") format("woff"),
        url("../fonts/Gotham-Book.ttf") format("truetype");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Light.eot");
    src:local("Gotham Light"),
        local("Gotham-Light"),
        url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Light.woff2") format("woff2"),
        url("../fonts/Gotham-Light.woff") format("woff"),
        url("../fonts/Gotham-Light.ttf") format("truetype");
    font-weight:200;
    font-style:normal
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Bold.eot");
    src:local("Gotham Bold"),
        local("Gotham-Bold"),
        url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Bold.woff2") format("woff2"),
        url("../fonts/Gotham-Bold.woff") format("woff"),
        url("../fonts/Gotham-Bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Medium.eot");
    src:local("Gotham Medium"),
        local("Gotham-Medium"),
        url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Medium.woff2") format("woff2"),
        url("../fonts/Gotham-Medium.woff") format("woff"),
        url("../fonts/Gotham-Medium.ttf") format("truetype");
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Ultra.eot");
    src:local("Gotham Ultra"),
        local("Gotham-Ultra"),
        url("../fonts/Gotham-Ultra.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Ultra.woff2") format("woff2"),
        url("../fonts/Gotham-Ultra.woff") format("woff"),
        url("../fonts/Gotham-Ultra.ttf") format("truetype");
    font-weight:800;
    font-style:normal
}
@font-face{
    font-family:'Gotham';
    src:url("../fonts/Gotham-Black.eot");
    src:local("Gotham Black"),
        local("Gotham-Black"),
        url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gotham-Black.woff2") format("woff2"),
        url("../fonts/Gotham-Black.woff") format("woff"),
        url("../fonts/Gotham-Black.ttf") format("truetype");
    font-weight:900;
    font-style:normal
}
:root{
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #F8337A;
    --secondary: #B46063;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --crema-suave: #FBF8F6;
    --crema-suave-2: #EDE7E4;
    --coral: #E67161;
    --marron: #785F4E;
    --marron-claro: #937A69;
    --marron-claro-2: #CCB4A3;
    --marron-claro-3: #E5D9D1;
    --rosa-oscuro: #D89A9E;
    --rosa-claro: #E5C1C5;
    --gris: #707070;
    --nude: #E2D9CC;
    --verde: #9DDCB0;
    --white: #fff;
    --dark-gray: #5B5B5F;
    --breakpoint-xs: 0;--breakpoint-sm: 576px;--breakpoint-md: 768px;--breakpoint-lg: 992px;--breakpoint-xl: 1200px;
    --font-family-sans-serif: Gotham;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--primary);
}

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--marron-claro);
  text-align: left;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

h1{font-size: 5rem;line-height: 1;}
h2{font-size: 4rem;}

/* Utility */
.-left{
    left: -15px;
}
.reinata{
    font-family:"Reinata"!important;
    font-weight: 100;
}
.color-blanco{color: var(--white);}
.color-crema2{color: var(--crema-suave-2);}
.color-secondary{color: var(--secondary);}
.color-marron{color: var(--marron);}
.color-marronclaro{color: var(--marron-claro);}
.color-rosaoscuro{color: var(--rosa-oscuro);}
.color-gris{color: var(--gris);}
.color-grisoscuro{color: var(--dark-gray);}

.bg-marron3{background-color: var(--marron-claro-3);}
.bg-crema2{background-color: var(--crema-suave-2);}

.b-radius-20{border-radius: 20px;}
.border-md{border-width:2px}

.line-trough{text-decoration: line-through;}
.title{font-size: 122px;}
.subtitle{font-size: 24px !important;font-weight: bold;}
.font-weight-medium{font-weight: 500;}
.font-size-30{font-size: 30px;}
.mr-3{margin-right: 1rem !important;}
.pr-2{padding-right: 0.5rem !important;}
.pr-3{padding-right: 1rem !important;}
/* Hero */
.hero{
    background: url(../img/bg-hero.png) no-repeat bottom;
    background-size: cover;
    height: auto;
    padding-top: 100px; 
}
.hero .reinata{
    font-size: 110px;
    line-height: 1;
}
.hero-img{width: 600px;}
.ribbon{position: relative;margin-bottom: 70px;margin-top: 30px;}
.ribbon::before{
    z-index: 0;
    content: '';
    background-color: var(--white);
    height: 57px;
    width: 330px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 99% 100%, 0 100%);
    position: absolute;
    left: -70px;
    top: -27px;
}

/* Buttons */
.btn.color-secondary:hover{
    background-color: #F8337A!important;
    color: white;
}
.btn{
    transition: all .3s ease-in-out;
}
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}
.btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
    transform: translateY(-8px);
}

.btn-outline-primmary {
    background-color: none;
    color: var(--primary);
    border: 3px solid var(--primary);
}

/* Intro section */
section.intro{
    padding: 80px 0;
}
.intro img{
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

/* Curso online */
.curso-online{
    background-image: url(../img/curso-bg.png);
    background-size: cover;
}

/* Elevar */
.elevar {
    padding: 80px 0;
}

.elevar h1{
    font-size: 180px;
    line-height: .8;
    color: var(--rosa-oscuro);
}

.card-elevar{
    border: 2px solid var(--rosa-oscuro);
    border-radius: 10px;
    transition: all .4s ease-in-out;
}
.card-elevar:hover{
    background-color: var(--crema-suave-2);
}

#section-container {
    margin-top: 90px;
    background: url(../img/bg-wave.png) no-repeat top center;
    background-size: cover;
    padding-bottom: 350px;
    /* background: var(--crema-suave); */
}

#section-container .img {
    margin-top: -90px;
}

#section-container .box {
    height: 280px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 200px;
    padding: 30px 15px;
    border-radius: 20px;
    background-color: var(--white);
    border: 3px solid var(--secondary);
}

#section-container .box .color-grisoscuro {
    font-size: 24px;
    font-weight: 300;
}

#section-container .box img {
    margin-top: -170px;
    margin-bottom: 30px;
}

.bg-container {background: url(../img/bg-wave.png);}

#preventa {
    padding: 90px 0 50px;
    margin-bottom: 100px;
    background: url(../img/bg-preventa.png) no-repeat top center;
    background-size: cover;
}

#preventa .countdown {
    display: flex;
    position: relative;
    color: var(--white);
    justify-content: center;
}
  
#preventa .countdown li {
    padding: 1em;
    display: inline-block;
}
  
#preventa .countdown li span {
    display: block;
    font-size: 116px;
}

#about-me {
    background: url(../img/bg-about-me.png) no-repeat top center;
    background-size: cover;
}

#about-me h2 {margin-top: -30px;}

#about-me p {
    font-size: 22px;
    font-weight: 300;
}
#cursos-online {margin-bottom: 100px;}
#cursos-online .card .subtitle {font-size: 24px !important;}
#cursos-online .card .color-gris {font-size: 22px;}
#cursos-online .card {
    height: 100%;
    padding: 50px 15px 30px;
    border-radius: 30px;
    border: 3px solid #D89A9E !important;
}

#cursos-online .carousel-control-prev-icon {background-image: url(../img/icon-left-arrow.svg);}
#cursos-online .carousel-control-prev {left: -140px;}
#cursos-online .carousel-control-next-icon {background-image: url(../img/icon-right-arrow.svg);}
#cursos-online .carousel-control-next {right: -140px;}

#testimonials .contenido {
    padding: 40px;
    border-radius: 20px;
    text-align: left;
}

#testimonials .contenido h2 {font-size: 90px;}

#testimonials .contenido .img {
    top: 65px;
    left: 170px;
    position: absolute;
}

#testimonials .carousel-indicators {
    position: relative;
    margin-top: 30px;
}

#testimonials .carousel-indicators button {
    width: 20px;
    margin: 5px;
    height: 20px;
    border: none;
    border-radius: 50%;
    border: 2px solid var(--secondary);
   
}

#testimonials .carousel-indicators .active {
    background: var(--secondary);
    
}

#for-you {
    margin: 100px 0;
    background: url(../img/bg-for-you.png) no-repeat top center;
    background-size: cover;
}

#for-you .contenido {
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.85);
}

#cursos-online-3 {margin: 100px 0;}
#cursos-online-3 h1{font-size: 50px}
#cursos-online-3 strong {font-size: 45px;}
#cursos-online-3 h2:first-child {
    font-size: 104px;
    font-weight:300;
}

#faq {margin: 100px 0; position: relative;}
#faq h2 {font-size: 40px;}
#faq .bg-hoja {
    top: -150px;
    right: 0;
    position: absolute;
}
#faq .accordion-button:not(.collapsed) {
    color: #785F4E;
    background: none;
}
#faq .faq-box {
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.21);
}

#faq .accordion-button:focus {
    box-shadow: none;
}

#faq .accordion-button::after,.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icon-arrow.svg);
    background-size: 10px;
}
#faq .accordion-button:not(.collapsed)::after {transform: rotate(-90deg);}

footer {
    padding: 20px 0;
    font-size: 20px;
}

footer .icon-socialmedia:hover path {
    fill: #fff;
    padding: 30px;
    border-radius: 50%;
    background-color: var(--secondary);
}

@media only screen and (max-width: 600px) {
    .mr-md-0{margin-right: 0 !important;}
    .hero-img {
        width: 100%;
        margin-top: 40px;
    }
    .reinata, .title {
        font-size: 80px;
        line-height: 0.7 !important;
    }
    .elevar h1 {font-size: 120px}
    .card-elevar img {width: 45%;}
    #preventa .countdown li {display: block; padding: 10px 0;}
    #preventa .countdown li span {font-size: 80px;}
    #section-container .box{height: auto;}
    #section-container{padding-bottom: 230px;}
    #cursos-online {margin-top: -80px;}
    #cursos-online .carousel-control-prev {left: 0;}
    #cursos-online .carousel-control-next {right: 0;}
    #cursos-online-3 .font-size-30 {font-size: 20px;}
    #cursos-online-3 h1{font-size: 30px}
    #cursos-online-3 strong {font-size: 25px;}
    #cursos-online-3 h2:first-child {font-size: 80px;}
    #about-me { 
        background: url(../img/bg-about-me-mobile.png);
        padding: 100px 0;
    }
    #for-you { 
        background: url(../img/bg-for-you-mobile.png);
        padding: 100px 0;
    }
    #testimonials .contenido .img{display: none;}
    #faq h2 {font-size: 30px;}
    #faq .faq-box {border-radius:20px; padding: 10px;}
    .accordion-flush .accordion-item .accordion-button {font-size: 20px !important;}
}